.site-header {
    position: relative;
    padding: 24px 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background: mix(color(secondary, 1), color(additional, 2));
        background: linear-gradient(57deg, color(secondary, 1) 0%, color(additional, 2) 100%);
        transform-origin: 0;
        transform: skewY(-12deg);
    }
}

.site-header-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: inline-flex;

    li {
        display: inline-flex;
    }

    a:not(.button) {
        @include font-size(9, mobile, true, true, true);
        @if ( get-font-size(9, desktop) != get-font-size(9, mobile) ) {
            @include media( '>medium' ) {
                @include font-size(9, desktop, true, true, true);
            }
        }
        @include font-weight(bold);
        @include anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

.logo-wrapper {
  position: relative;
  width: 32px;
  height: 32px;

  /* Background image */
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),   /* less transparent at top */
      rgba(0, 0, 0, 0.55)   /* more transparent at bottom */
    ),
    url("/img/background.jpg");

  background-size: cover;
  background-position: center;
}

.logo-svg {
  width: 100%;
  height: 100%;

  /* Dark green */
  color: #1f3d2b;

  /* 80% transparency */
  opacity: 0.8;

  /* Optional polish */
  display: block;
}

@include media( '>medium' ) {

    .site-header {

        &::before {
            height: 640px;
        }
    }
}
