.hero {
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-media {
    position: relative;
    height: 200px;
    margin-top: 40px;
    background: color(bg, 1);
    border-radius: 4px 4px 0 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include shadow;
        mix-blend-mode: multiply;
    }
}

@include media( '>medium' ) {

    .hero {
        padding-top: 80px;
    }

    .hero-paragraph {
        margin-bottom: 40px;
        padding-left: 72px;
        padding-right: 72px;
    }

    .hero-media {
        margin-top: 64px;
        height: 400px;
    }
}

.logo-wrapper {
  position: relative;
  width: 32px;
  height: 32px;

  /* Background image */
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),   /* less transparent at top */
      rgba(0, 0, 0, 0.55)   /* more transparent at bottom */
    ),
    url("/img/background.jpg");

  background-size: cover;
  background-position: center;
}

.logo-svg {
  width: 100%;
  height: 100%;

  /* Dark green */
  color: #1f3d2b;

  /* 80% transparency */
  opacity: 0.8;

  /* Optional polish */
  display: block;
}
