.is-boxed {
  position: relative;

  background: color(bg, 2);

  /* TWO staggered dot layers */
  background-image:
    radial-gradient(rgba(0,0,0,.06) 1.5px, transparent 2px),
    radial-gradient(rgba(0,0,0,.06) 1.5px, transparent 2px);

  background-size: 22px 22px;

  /* diagonal stagger (~30° up-right) */
  background-position:
    0 0,
    11px -13px;
}


.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
